.Weather {
  border: 1px solid #dadde1;
  color: #878787;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
}

.Weather h1 {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  line-height: 64px;
}
.Weather img {
  line-height: 64px;
  width: 40px;
}
.Weather .temperatureMain {
  font-weight: bold;
  color: rbg(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 5px;
}
.Weather .unit {
  color: rbg(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -32px;
  margin-left: 5px;
}
